@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

#loginBg {
  background-image: linear-gradient(
      to bottom,
      rgba(1, 183, 243, 0.233) 0%,
      rgba(9, 9, 121, 0.5438550420168067) 25%,
      rgba(2, 0, 36, 0.705) 100%
    ),
    url("images/tc.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
